{% extends 'smartipnav/base.html' %}

{% block ipactive %}
    text-light
{% endblock %}

{% block content %}
<section>
    <div class="container col-lg-6 bg-light rounded">
        <div class="card mx-auto mt-5 bg-dark style="width: 20rem;">
            <div class="card-header bg-dark text-info mx-auto">
                <p class="fs-2 my-0">Agregar Nuevo IP</p>
            </div>
            <form id=printer_add_form action="" method="post" class="mt-2">
                {% csrf_token %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark">
                        <label class="form-control-label text-light" for="new_ip_dir">Nuevo Ip: </label>
                    <input class="form-control" type="text" name="new_ip_dir" id="new_ip_dir">
                    </li>
                    <li class="list-group-item bg-dark px-auto">
                        <button type="submit" class="btn btn-info row mx-auto w-100">Enviar</button>
                    </li>
                  </ul>
            </form>
        </div>
    </div>
</section>
{% endblock %}