{% extends 'smartipnav/base.html' %}

{% block content %}
<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group bg-dark"</div>
                    <p>Imagen URL: <input type="url" name="printer_image" id="printer_add"></p>
                    <p>Marca: <input type="text" name="printer_brand" id="printer_brand"></p>
                    <p>Modelo: <input type="text" name="printer_model" id="printer_model"></p>
                    <p>Reacondicionada: <input type="checkbox" name="printer_rebuilded" id="printer_rebuilded"></p>
                    <p>Ip asignado: <input type="text" name="printer_ip" id="printer_ip"></p>
                    <p>Oficina: <input type="text" namr="printer_office" id="printer_office"></p>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}