{% extends 'smartipnav/base.html' %}

{% block userspcactive %}
    text-light
{% endblock %}

{% block content %}

<section>
    <div class="container col-lg-6 bg-light rounded">
        <div class="card mx-auto mt-5 bg-dark style="width: 20rem;">
            <div class="card-header bg-dark text-info mx-auto">
                <p class="fs-2 my-0">Agregar Usuario Pc</p>
            </div>
            <form id=printer_add_form action="" method="post" class="mt-2 text-light">
                {% csrf_token %}
                <div class="container bg-dark px-2">
                
                    {{ form.as_p }} 
                    <button type="submit" class="btn btn-info row my-2 mx-auto w-100">Enviar</button>
                
                </div>
            </form>
        </div>
    </div>
</section> 

{% endblock %}